# Meu Primeiro Notebook

In [3]:
2+2

4

## Como importar uma biblioteca

In [4]:
import numpy as np

## Utilizando a biblioteca

In [5]:
np.abs(-2)

2

## Vetores e Listas

Em Python o vetor é chamado de lista, o que se chama de lista em R, em Python será chamado de dicionário.
O Python começa a contar do 0.

In [6]:
t = [2, 3, 4]
t[0]

2

## Tabelas (dicionário) com o Pandas

In [7]:
#Primeiro devemos importar o pandas

import pandas as pd

In [8]:
#Depois invocamos o método DataFrame

tabela = {'Nome': ['Maria', 'José', 'João', 'Ana'], 'Idade': ['25', '27', '28', '30']}

pd.DataFrame(tabela)

    Nome Idade
0  Maria    25
1   José    27
2   João    28
3    Ana    30

In [10]:
#Podemos passar a tabela para uma variável e manipulá-la
data = pd.DataFrame(tabela)
type(data)

pandas.core.frame.DataFrame

In [11]:
#Salvando a tabela
data.to_csv('dados.csv', index=False)

In [12]:
#Lendo arquivos
pd.read_csv('dados.csv')

    Nome  Idade
0  Maria     25
1   José     27
2   João     28
3    Ana     30